<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    //- include ../../pug/includes/header/header.pug
    //- include ../../pug/includes/cards/number-search/number-search.pug
    //- include ../../pug/includes/footer/footer.pug
    //- include ../../pug/includes/Copyright-Bar/Copyright.pug


</body>
</html>